p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aliceblue;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aliceblue;
}